:root {
    --blue: #142d4c;
    --white: #fffafa;
    --skyblue: #9fd3c7;
    --gray: #1f2327;
    --pastel: #a0d2f3;
    --yellow: #f7cc00;
    --pink: #e56d75;
}

$font: "Sego UI Light", -apple-system, BlinkMacSystemFont, sans-serif;

body {
    margin: 2%;
    font-style: normal;
    background-color: var(--white);
}

p {
    width: 100%;
    height: 100%;
    text-align: justify;
    font-family: $font;
}

table {
    width: 100%;
    text-align: center;
}

td {
    border: 1px solid var(--white);
    border-radius: 16px;
}

td:hover {
    background: var(--skyblue);
    transition: 0.5s;
}

img {
    max-width: 200px;
}

ul {
    list-style: square;
    list-style-position: inside;
    text-align: center;
}

div {
    a { text-decoration: none; }

    table { margin-top: 3%; }
}

#header {
    text-align: center;
}

%heading {
    margin-top: 10%;
    text-align: center;
}

.palm {
    @extend %heading;
    color: var(--pink);
}

.finger {
    @extend %heading;
    color: var(--pastel);
}

.claw {
    @extend %heading;
    color: var(--yellow);
}

.picture {
    width: 315px;
}

.list {
    margin: 10%;
}

.button {
    text-decoration: none;
    background-color: var(--blue);
    padding: 14px 25px;
    display: inline-block;
    border: 2px solid;
    border-radius: 5px;
    color: var(--white);
}

.button:hover {
    font-style: italic;
    transition-duration: 0.5s;
    color: var(--gray);
    background: var(--white);
}