<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://monher21.github.io/cs50w-project0/style/stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mouse - Test</title>
    <style>
        @media (min-width: 480px) {
            body {
                background-color: #fffafa;
            }
        }

        @media (max-width: 1000px) {
            body {
                background-color: #2b2d2f;
            }

            h1, p {
                color: white;
            }
            
            td {
                border-color: #2b2d2f;
            }
        }
    </style>
</head>
<body>
    <h1>Antes de comenzar, te preguntarás ¿Por qué un mouse ideal?</h1>
        <p>Hay muchos tipos de manos, y también muchos tipos de mouses, a la ligera uno mira el precio, buscando el más barato, para ¨salir del paso¨ pero ¿que hay de la comodidad? pasas horas
             y horas trabajando, estudiando o jugando frente a la computadora, tu mano en el mouse mientras te echas unas partidas del DOOM o platinando Skyrim, y esta se cansará de no estar 
             plenamente cómoda, y, aunque no sea necesario, si te gustaría darle un 'upgrade' a tu setup, y ese es el fin de esta página, una guía personal de qué mouse comprar según tu tipo de agarre.</p>
        <div>
            <table class="table">
                <td><a href="/template/palm.html"><img src="https://monher21.github.io/cs50w-project0/pictures/PalmGrip.png"></a></td>
                <td><a href="/template/claw.html"><img src="https://monher21.github.io/cs50w-project0//pictures/ClawGrip.png"></a></td>
                <td><a href="/template/finger.html"><img src="https://monher21.github.io/cs50w-project0//pictures/FingerGrip.png"></a></td>
            </table>
        </div>
</body>
</html>
